.row {
  .card {
    margin-top: 60px;
    max-width: 800px;
    min-width: 350px;
  }
}
.img-container {
  border-radius: 0.75rem 0 0 0.75rem;
  img {
    transform: scale(0.7);
  }
}
@media only screen and (max-width: 1023px) {
  .img-container {
    border-radius: 0.75rem 0.75rem 0 0;
  }
}
